
<p>annonce-detaillee works!</p>


<!--<aside>-->
<!--  <div id="divPhotos">-->
<!--    <img class="imgsDetail" *ngFor="let img of annonces[0].photos" src="../../../assets/img/{{img}}" alt="{{img}}">-->

<!--  </div>-->
<!--</aside>-->



<div id="annonceAttributs" class="container-fluid text-center" >

  <h1>{{annonces[0].titre}}</h1>
  <p>{{annonces[0].marque}}</p>
  <p>{{annonces[0].modele}}</p>
  <p>{{annonces[0].descrLongue}}</p>
  <p>{{annonces[0].anneeMiseCircu | date:"dd-MM-yy"}}</p>
  <p>{{annonces[0].kms}}</p>
  <p>{{annonces[0].prix}}</p>
  <p>{{annonces[0].carburant}}</p>
  <p>{{annonces[0].hybride}}</p>
</div>
