<p>header works!</p>
<header class="navbar navbar-light bg-dark justify-content-around">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/img/placeholder.com-logo1.png" width="100" height="100" class="d-inline-block align-top" alt="logo centre auto ccas">
  </a>
  <!-- Centre auo ccas + paragragphe présentation -->
  <div id="titre-header">
    <h1 >Centre'Auto'Ccas</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit quos necessitatibus et. Voluptatem, veritatis neque culpa tempora labore omnis sit iure aliquid corrupti, quo ex? Ex ullam fugiat deserunt magni.</p>

  </div>
  <!-- Bouton connexion -->
  <div id="connexion " >

    <a href="/www/connexion-page.html"><img src="../../../assets/img/login-user.png" alt="bouton connexion" width="50" height="50"></a>
    <p>pas connecté</p>


  </div>




</header>
